.employee-list-container {
    align-content: center;
    .add-emp-btn{
        margin-bottom: 2rem;
    }
    .searchBar{
        height: 2rem;
        min-width: 18rem;
        border: 1px solid;
    }
    .table-container {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1rem;
        margin-top: 6rem;
        font-size: 1.75rem;
        :first-child {
            font-weight: 500;
            color: darkgrey;
        }
        .list-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0.5em 0;
            border-bottom: 1px solid grey;
            .list-col {
                flex: 1 1 7.5rem;
            }
        }
    }
}